* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
}

.overlay {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.wraper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    gap: 40px;
    padding: 30px;
    height: 400px;
    width: 280px;
}

input, label {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 30% 70%;
    grid-template-columns: 30% 40% 30%;
    justify-content: center;
    text-align: center;
}

.header {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #134e4a;
    grid-column: 1 / -1;
}

.main-content {
    display: grid;
    justify-content: center;
    background-color: #0f766e;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.tabla {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: 300px;
    height: 300px;
}

.tabla > p {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}